@import '../../themes/config.css';

.Container {
    display: inline-flex;
    overflow: hidden;
}

:global {
    .rc-dropdown > .rc-dropdown-menu-inline,
    .rc-dropdown > .rc-dropdown-menu-vertical,
    .rc-dropdown > .rc-dropdown-menu-vertical-left,
    .rc-dropdown > .rc-dropdown-menu-vertical-right {
        padding: 4px 0;
    }

    .rc-dropdown-menu >.rc-dropdown-menu-item:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .rc-dropdown-menu > .rc-dropdown-menu-item:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .rc-dropdown-menu > li {
        margin: 0;
    }

    .rc-dropdown-menu-inline > .rc-dropdown-menu-item,
    .rc-dropdown-menu-inline > .rc-dropdown-menu-submenu > .rc-dropdown-menu-submenu-title,
    .rc-dropdown-menu-vertical-left > .rc-dropdown-menu-item,
    .rc-dropdown-menu-vertical-left > .rc-dropdown-menu-submenu > .rc-dropdown-menu-submenu-title,
    .rc-dropdown-menu-vertical-right > .rc-dropdown-menu-item,
    .rc-dropdown-menu-vertical-right > .rc-dropdown-menu-submenu > .rc-dropdown-menu-submenu-title,
    .rc-dropdown-menu-vertical > .rc-dropdown-menu-item,
    .rc-dropdown-menu-vertical > .rc-dropdown-menu-submenu > .rc-dropdown-menu-submenu-title {
        padding: 12px 24px 12px 16px;
    }

    .rc-dropdown-menu {
        color: unset !important;

        & > .rc-dropdown-menu-item {
            position: relative;
            display: block;
            clear: both;
            font-size: 12px;
            font-weight: 400;
            color: var(--primary-text-color);
            white-space: nowrap;
            cursor: pointer;
        }
    }

    .rc-dropdown-menu-submenu-popup {
        position: absolute;
        z-index: 7500;
    }

    .rc-dropdown > .rc-dropdown-menu-inline .rc-dropdown-menu-submenu-arrow,
    .rc-dropdown > .rc-dropdown-menu-vertical-left .rc-dropdown-menu-submenu-arrow,
    .rc-dropdown > .rc-dropdown-menu-vertical-right .rc-dropdown-menu-submenu-arrow,
    .rc-dropdown > .rc-dropdown-menu-vertical .rc-dropdown-menu-submenu-arrow {
        display: inline-block;
        position: absolute;
        right: 5px;
        transform: rotate(-90deg);
        vertical-align: middle;
        line-height: 1;
        font-size: 18px;
        font-family: Material Icons;
        font-weight: 400;
        font-style: normal;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .rc-dropdown > .rc-dropdown-menu-inline .rc-dropdown-menu-submenu-arrow:before,
    .rc-dropdown > .rc-dropdown-menu-vertical-left .rc-dropdown-menu-submenu-arrow:before,
    .rc-dropdown > .rc-dropdown-menu-vertical-right .rc-dropdown-menu-submenu-arrow:before,
    .rc-dropdown > .rc-dropdown-menu-vertical .rc-dropdown-menu-submenu-arrow:before {
        content: "arrow_drop_down";
    }

    .rc-dropdown-menu-vertical-left.rc-dropdown-menu-sub,
    .rc-dropdown-menu-vertical-right.rc-dropdown-menu-sub,
    .rc-dropdown-menu-vertical.rc-dropdown-menu-sub {
        padding: 0;
    }

    .rc-dropdown-menu-submenu>.rc-dropdown-menu {
        background-color: var(--rc-dropdown-menu-bg);
        max-height: 300px;
        overflow: auto;
    }

    .rc-dropdown-menu-horizontal.rc-dropdown-menu-sub,
    .rc-dropdown-menu-vertical-left.rc-dropdown-menu-sub,
    .rc-dropdown-menu-vertical-right.rc-dropdown-menu-sub,
    .rc-dropdown-menu-vertical.rc-dropdown-menu-sub {
        min-width: 160px;
        margin-top: 0;
    }

    .rc-dropdown-hidden,
    .rc-dropdown-menu-hidden {
        display: none;
    }

    .rc-dropdown-menu {
        outline: none;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 2px 0 0;
        text-align: left;
        background-color: var(--rc-dropdown-menu-bg);
        border-radius: 3px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        background-clip: padding-box;
        font-size: 1.2rem;
        max-height: calc(100vh - 20px);
        overflow: auto;
    }

    .rc-dropdown-menu-submenu-title {
        margin: 0;
        position: relative;
        display: block;
        padding: 7px 7px 7px 16px;
        white-space: nowrap;
    }

    .rc-dropdown-menu-item .rc-dropdown-menu-item-disabled,
    .rc-dropdown-menu-item .rc-dropdown-menu-submenu-disabled,
    .rc-dropdown-menu-submenu-title .rc-dropdown-menu-item-disabled,
    .rc-dropdown-menu-submenu-title .rc-dropdown-menu-submenu-disabled,
    .rc-dropdown-menu-submenu .rc-dropdown-menu-submenu-disabled {
        color: var(--color-scale-gray-3);
        opacity: .3;
    }

    .rc-dropdown-menu > .rc-dropdown-menu-item-disabled {
        color: var(--color-scale-gray-3);
        cursor: not-allowed;
        pointer-events: none;
        opacity: .3;
    }
}
