.Container {
    position: relative;
    cursor: pointer;

    & * {
        cursor: pointer;
    }

    & .field {
        margin: 0;
    }

    & .check {
        display: none;
    }

    &:hover {
        & .Icon {
            color: #c79222;
        }
    }
}

.Icon {
    font-size: 22px;
    color: #f2b822;
}
