.button {
    line-height: normal;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: none;
    border-radius: 3px;
    border: 1px solid transparent;

    &_uppercase {
        text-transform: uppercase;
    }

    & .icon {
        line-height: normal;
        color: inherit;
    }

    &[disabled] {
        background: transparent;
        color: var(--Button-disabled-color);

        &:hover {
            background: transparent;
            border-color: transparent;
        }
    }

    &:focus {
        outline: 1px solid rgba(255, 255, 255, 0.5);
        outline-offset: -4px;
    }
}

.neutral:not([disabled]).flat {
    background: transparent;
    color: var(--Button-neutral-color);

    &:focus:not(:active) {
        background: var(--Button-neutral-bg-hover);
        border-color: transparent;
    }

    &:hover {
        background: var(--Button-neutral-bg-hover);
    }
}

.warning:not([disabled]).flat {
    background: var(--Button-warning-bg);
    color: var(--Button-warning-color);

    &:hover {
        background: var(--Button-warning-hover);
        border-color: transparent;
    }
}

.gray:not([disabled]).flat {
    background: var(--Button-gray-bg);
    color: var(--Button-gray-color);

    &:hover {
        background: var(--Button-gray-bg-hover);
        border-color: transparent;
    }
}

.accent:not([disabled]).flat {
    background: var(--Button-accent-bg);
    color: var(--Button-accent-color);

    &:focus:not(:active) {
        background: var(--Button-accent-bg-hover);
        border-color: transparent;
    }

    &:hover {
        background: var(--Button-accent-bg-hover);
    }
}

.bordered.flat {
    background: white;
    color: var(--Button-accent-bg);
    border-color: var(--Button-accent-bg);

    &:focus:not(:active) {
        background: var(--Button-accent-bg-hover);
        border-color: transparent;
    }

    &:hover {
        background: var(--Button-accent-bg-hover);
        color: var(--Button-accent-color);
    }
}

.accent[disabled].flat {
    background: var(--Button-disabled-bg);
    color: var(--Button-disabled-color);

    &:hover {
        background: var(--Button-disabled-bg-hover);
        border-color: transparent;
    }
}

.bordered[disabled].flat {
    opacity: 0.5;
}

.primary:not([disabled]).flat {
    background: transparent;
    color: var(--Button-primary-color);

    &:hover {
        background: var(--Button-primary-bg-hover);
        border-color: transparent;
    }
}
