.Container {

}

.Label {
    padding: 6px 0;
}

.Input {
    outline: none;
    border: 1px solid var(--light-divider-color);
    padding: 8px;
    width: 450px;
    min-height: 350px;

    &_error {
        border: 1px solid red;
    }
}

.FieldError {
    color: red;
}
