.Counter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    min-width: 20px;
    margin-left: 5px;
    border-radius: var(--border-radius);
    font-size: 12px;
    color: #fff;
    background-color: var(--primary-color);

    &.Empty {
        border-radius: 50%;
        min-width: 10px;
        min-height: 10px;
    }
}

.NavigationLink {
    text-decoration: none;
}
