.Container {
    width: 100%;
    padding: 0 20px 0 12px;
    background: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    color: var(--header-color);
}
