.Divider {
    display: inline-flex;
    margin: 0;
    padding: 0;
    height: 1px;
    border: none;
    background-color: var(--dark-divider-color);
    transform: translateY(-1px);

    &__vertical {
        height: 18px;
        width: 1px;
        padding: 0;
        margin-top: 0;
        align-self: center;
    }
}