:root {
    /* main */
    --input-border: #b1bac4;
    --input-border-focus: #757474;
    --input-color: #595959;
    --input-focus: var(--primary-color);
    --primary-text-color: #212121;
    --secondary-text-color: #595959;
    --dark-divider-color: #e8e8e8;
    --light-divider-color: #e0e0e0;

    /* button */
    --Button-warning-bg: #d12a2d;
    --Button-warning-color: #f0f6fc;
    --Button-warning-hover: #de5356;
    --Button-gray-bg: #f0f0f0;
    --Button-gray-color: #595959;
    --Button-gray-bg-hover: #e7e7e7;
    --Button-accent-bg: #44b991;
    --Button-accent-color: #f0f6fc;
    --Button-accent-bg-hover: #2da274;
    --Button-primary-color: #2da274;
    --Button-primary-bg-hover: rgba(45, 162, 116, 0.1);
    --Button-neutral-bg-hover: rgba(33,33,33,.2);
    --Button-disabled-bg: #f0f0f0;
    --Button-disabled-color: #c9c9c9;
    --Button-disabled-bg-hover: #f0f0f0;

    /* ButtonMenu */
    --ButtonMenu-buttonText-color: #767676;

    /* driveLanding */
    --driveLanding-leftPanel-bg: #44b991;

    /* SelectBox */
    --SelectBox-arrow-bg: #b1bac4;
    --SelectBox-values-bg: #ffffff;
    --SelectBox-values-selected-color: #8068bc;
    --SelectBox-values-hover-bg: #eeeeee;
    --SelectBox-values-disabled-color: #8b949e;

    /* Checkbox */
    --Checkbox-color: #c1c1c1;
    --Checkbox-color-disabled: #d8d8d8;
    --Checkbox-text-color: #595959;

    /* header */
    --header-bg: #44b991;
    --header-color: #ffffff;

    /* tabs */
    --tab-header-dropdown-bg: #e8e8e8;
    --tab-header-dropdown-hover-bg: #dddddd;
    --tab-header-button-color: #767676;
    --tab-header-button-border: #e8e8e8;
    --tab-header-button-active-border: #44b991;
    --tab-header-button-focus-border: rgba(0, 0, 0, 0.2);
    --tab-header-button-active-color: #44b991;

    --tab-content-bg: #ffffff;

    /* rc-dropdown */
    --rc-dropdown-menu-bg: #ffffff;

    /* ContextMenu */
    --contextMenu-element-hover: #dddddd;

    /* HeaderMenu */
    --headerMenu-subMenu-bg: #ffffff;
    --headerMenu-subMenu-shadow: rgba(24, 26, 31, 0.2);
    --headerMenu-subMenu-border: #44b991;
    --headerMenu-subMenu-menuItem-hover: rgba(0, 0, 0, 0.1);


    /* Modal */
    --Modal-bg: #ffffff;
    --Modal-title-color: #1c1c1c;
    --Modal-overlay-bg: rgba(50, 50, 50, .2);

    --toolbar-icon-color: #9d9d9d;
}
