:root {
    --color-scale-black: #010409;
    --color-scale-white: #f0f6fc;

    --color-scale-gray-0: #f0f0f0;
    --color-scale-gray-1: #d9d9d9;
    --color-scale-gray-2: #c0c0c0;
    --color-scale-gray-3: #a7a7a7;
    --color-scale-gray-4: #949494;
    --color-scale-gray-5: #818181;
    --color-scale-gray-6: #797979;
    --color-scale-gray-7: #6e6e6e;
    --color-scale-gray-8: #646464;
    --color-scale-gray-9: #515151;

    --primary-color: #44b991;
    --color-scale-primary-0: #e9f7f2;
    --color-scale-primary-1: #c7eade;
    --color-scale-primary-2: #a2dcc8;
    --color-scale-primary-3: #7cceb2;
    --color-scale-primary-4: #60c4a2;
    --color-scale-primary-5: #44b991;
    --color-scale-primary-6: #3eb289;
    --color-scale-primary-7: #35aa7e;
    --color-scale-primary-8: #2da274;
    --color-scale-primary-9: #1f9362;

    --accent-color: #44b991;
    --color-scale-accent-0: #e9f7f2;
    --color-scale-accent-1: #c7eade;
    --color-scale-accent-2: #a2dcc8;
    --color-scale-accent-3: #7cceb2;
    --color-scale-accent-4: #60c4a2;
    --color-scale-accent-5: #44b991;
    --color-scale-accent-6: #3eb289;
    --color-scale-accent-7: #35aa7e;
    --color-scale-accent-8: #2da274;
    --color-scale-accent-9: #1f9362;

    --secondary-color: #00e2c2;
    --color-scale-secondary-0: #e0fcf8;
    --color-scale-secondary-1: #b3f6ed;
    --color-scale-secondary-2: #80f1e1;
    --color-scale-secondary-3: #4debd4;
    --color-scale-secondary-4: #26e6cb;
    --color-scale-secondary-5: #00e2c2;
    --color-scale-secondary-6: #00dfbc;
    --color-scale-secondary-7: #00dab4;
    --color-scale-secondary-8: #00d6ac;
    --color-scale-secondary-9: #00cf9f;

    /* main */
    --input-bg: #ffffff;
    --input-border: #b1bac4;
    --input-border-focus: #757474;
    --input-color: #595959;
    --input-focus: var(--primary-color);
    --body-bg: #ffffff;
    --caret-color: #000000;
    --accent-highlighted-bg: #fff5cc;
    --light-highlighted-bg: #f6f6f6;
    --dark-highlighted-bg: #d2d2d2;
    --primary-text-color: #212121;
    --secondary-text-color: #595959;
    --dark-divider-color: #e8e8e8;
    --light-divider-color: #e0e0e0;

    /* button */
    --Button-warning-bg: #d12a2d;
    --Button-warning-color: #f0f6fc;
    --Button-warning-hover: #de5356;
    --Button-gray-bg: #f0f0f0;
    --Button-gray-color: #595959;
    --Button-gray-bg-hover: #e7e7e7;
    --Button-accent-bg: #44b991;
    --Button-accent-color: #f0f6fc;
    --Button-accent-bg-hover: #2da274;
    --Button-primary-color: #2da274;
    --Button-primary-bg-hover: rgba(45, 162, 116, 0.1);
    --Button-neutral-color: #595959;
    --Button-neutral-bg-hover: rgba(33,33,33,.2);
    --Button-disabled-bg: #f0f0f0;
    --Button-disabled-color: #c9c9c9;
    --Button-disabled-bg-hover: #f0f0f0;

    /* ButtonMenu */
    --ButtonMenu-buttonText-color: #767676;

    /* driveLanding */
    --driveLanding-leftPanel-bg: #44b991;
    --driveLanding-leftPanel-color: #ffffff;
    --driveLanding-divider: #ffffff;

    --model-row-bg-rename: #f0f0f0;
    --model-row-bg-hover: #f0f0f0;

    --model-card-border-color: #dcdcdc;
    --model-card-border-color-hover: #00b05f;

    --model-icon-color: #44b991;
    --model-name-color: #525252;

    /* SelectBox */
    --SelectBox-border-color: #b1bac4;
    --SelectBox-arrow-bg: #b1bac4;
    --SelectBox-values-bg: #ffffff;
    --SelectBox-values-selected-color: #8068bc;
    --SelectBox-values-hover-bg: #eeeeee;
    --SelectBox-values-disabled-color: #8b949e;
    --SelectBox-Title-color: var(--secondary-text-color);

    /* Checkbox */
    --Checkbox-color: #c1c1c1;
    --Checkbox-color-disabled: #d8d8d8;
    --Checkbox-text-color: #595959;

    /* header */
    --header-bg: #44b991;
    --header-color: #ffffff;

    /* tabs */
    --tab-header-dropdown-bg: #e8e8e8;
    --tab-header-dropdown-hover-bg: #dddddd;
    --tab-header-button-color: #767676;
    --tab-header-button-border: #e8e8e8;
    --tab-header-button-active-border: #44b991;
    --tab-header-button-focus-border: rgba(0, 0, 0, 0.2);
    --tab-header-button-active-color: #44b991;

    --tab-content-bg: #ffffff;

    /* rc-dropdown */
    --rc-dropdown-menu-bg: #ffffff;
    --rc-dropdown-menu-item-hover: #ebfaff;

    /* ContextMenu */
    --contextMenu-bg: #ffffff;
    --contextMenu-element-divider: #cccccc;
    --contextMenu-element-hover: #dddddd;

    /* HeaderMenu */
    --headerMenu-subMenu-bg: #ffffff;
    --headerMenu-subMenu-shadow: rgba(24, 26, 31, 0.2);
    --headerMenu-subMenu-border: #44b991;
    --headerMenu-subMenu-menuItem-hover: rgba(0, 0, 0, 0.1);

    /* Contents */
    --contents-bg: #f5f5f5;
    --contents-mini-hover: #c8e6c9;
    --contents-toggleBtn-color: #939393;

    /* MainTabs */
    --mainTabs-headerContainer-bg: #f2f2f2;
    --mainTabs-headerContainer-border: #dadada;
    --mainTabs-footer-bg: #e2e2e2;
    --mainTabs-footer-color: #545454;
    --mainTabs-label: #525252;
    --mainTabs-label-activeFormula: #b71c1c;
    --mainTabs-buttonClose: #9f9f9f;
    --mainTabs-tabButton-bg: #f2f2f2;
    --mainTabs-tabButton-border: #dadada;
    --mainTabs-tabButton-active-bg: #ffffff;

    /* Modal */
    --Modal-bg: #ffffff;
    --Modal-title-color: #1c1c1c;
    --Modal-overlay-bg: rgba(50, 50, 50, .2);

    /* DndZone */
    --DndZone-bg: #e8e8e8;
    --DndZone-element-bg: #ffffff;
    --DndZone-element-color: #595959;
    --DndZone-element-disabled-bg: #f2f2f2;
    --DndZone-element-shadow: #cfcfcf;
    --DndZone-element-hover-bg: #fcfcfc;
    --DndZone-element-selected-bg: #f0f0f0;
    --DndZone-element-isNotEditable-bg: #fdff87;
    --DndZone-element-isNotEditable-hover: #f7d75d;

    --toolbar-icon-color: #9d9d9d;
    --warning-color: #d12a2d;
    --warning-color-hover: #de5356;
}
