@import './colors.css';
@import './variables.css';
@import './appBaseTheme.css';

:root {
    /* ---------------------------------------------- */
    /* Fonts */
    /* ---------------------------------------------- */
    --preferred-font: 'Roboto', 'Helvetica', 'Arial', sans-serif;

    /* ---------------------------------------------- */
    /* Border-radius */
    /* ---------------------------------------------- */
    --border-radius    : 3px;

    /* ------------------------------------------------------- */
    /* React-toolbox-components */
    /* ------------------------------------------------------- */
    --input-text-bottom-border-color: rgb(189, 189, 189);
}
