@import './config.css';

.chip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--chip-background);
    border-radius: var(--chip-height);
    color: var(--chip-color);
    font-size: var(--chip-font-size);
    line-height: var(--chip-height);
    margin-right: var(--chip-margin-right);
    max-width: 100%;
    overflow: hidden;
    padding: 0 var(--chip-padding);
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    & *,
    & *::after,
    & *::before {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        text-size-adjust: 100%;
        -webkit-touch-callout: none;
    }
}

.avatar {
    padding-left: 0;

    & > [data-react-toolbox='avatar'] {
        height: var(--chip-height);
        margin-right: var(--chip-icon-margin-right);
        vertical-align: middle;
        width: var(--chip-height);

        & > span {
            font-size: var(--chip-icon-font-size);
            line-height: var(--chip-height);
        }
    }
}

.deleteIcon {
    background: var(--chip-remove-background);
    border-radius: var(--chip-remove-size);
    vertical-align: top;
    width: 20px;
    cursor: pointer;
    fill: var(--chip-remove-background);

    & .deleteX {
        fill: transparent;
        stroke: var(--chip-remove-color);
        stroke-width: var(--chip-remove-stroke-width);
    }
}

.deleteIcon:hover  {
    background: var(--chip-remove-background-hover);
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.customIconsContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.children {
    overflow: hidden;
    text-overflow: ellipsis;
}
