.IconButton {
    height: 30px;
    color: var(--toolbar-icon-color);
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    overflow: hidden;
    display: inline-flex;
    align-items: center;

    & img {
        width: 17px;
        max-width: 17px;
        max-height: 17px;
        display: flex;
    }

    & .icon {
        opacity: 1;
        font-size: 17px;
        color: inherit;
        line-height: normal;
    }

    &.accent:not([disabled]) {
        color: #767676;
        border: 1px solid #dbdbdb;
        background: #e9e9e9;
    }

    &.bordered:not([disabled]) {
        background: white;
        color: var(--Button-accent-bg);
        border: 1px solid var(--Button-accent-bg);

        &:focus:not(:active) {
            background: var(--Button-accent-bg-hover);
            color: var(--Button-accent-color);
            border-color: transparent;
        }

        &:hover {
            background: var(--Button-accent-bg-hover);
            color: var(--Button-accent-color);
        }
    }

    &[disabled] {
        opacity: 0.3;
        cursor: default;

        & * {
            cursor: default;
        }
    }

    &:hover {
        border: 1px solid #d1d1d1;
    }
}
