.Title {
    color: var(--secondary-text-color);
    overflow: hidden;
    margin-bottom: -15px;
}

.value {
    min-height: auto;

    & > input {
        color: var(--secondary-text-color);
        background: none !important;

        &:focus {
            outline: none !important;
            box-shadow: unset !important;
        }
    }

    & > label {
        color: var(--secondary-text-color);
    }

    &:after {
        border-top-color: var(--SelectBox-arrow-bg);
    }
}

.caption {
    font-size: 1.4rem;
    display: block;
    vertical-align: middle;

    &_disabled {
        opacity: .5;
    }
}

.values {
    font-size: 13px;
    overflow-y: auto;
    background: var(--SelectBox-values-bg);

    & > *.selected {
        color: var(--SelectBox-values-selected-color);
        position: relative;

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 14px;
            height: 6px;
            border-left: 1.5px solid var(--SelectBox-values-selected-color);
            border-bottom: 1.5px solid var(--SelectBox-values-selected-color);
            transform: rotate(-45deg);
            top: 50%;
            right: 18px;
            margin-top: -4px;
        }
    }

    & > * {
        padding: 12px;

        &:hover:not(.disabled) {
            background-color: var(--SelectBox-values-hover-bg);
        }
    }
}
